*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    // font-family: "", "";
}

.container{
    // width: ___px;
    margin: 0 auto;
    padding: 0 20px;
}